.card.joker-black{
    background-image:url('../img/card-2.png')
}
.card.joker-red{
    background-image:url('../img/card-2.png')
}
.card.cover{
    background-image:url('../img/card-2.png')
}
.card.ace-spade-1{
    background-image:url('../img/card-2.png')
}
.card.two-spade-1{
    background-image:url('../img/card-2.png')
}
.card.three-spade-1{
    background-image:url('../img/card-2.png')
}
.card.four-spade-1{
    background-image:url('../img/card-2.png')
}
.card.five-spade-1{
    background-image:url('../img/card-2.png')
}
.card.six-spade-1{
    background-image:url('../img/card-2.png')
}
.card.seven-spade-1{
    background-image:url('../img/card-2.png')
}
.card.eight-spade-1{
    background-image:url('../img/card-2.png')
}
.card.nine-spade-1{
    background-image:url('../img/card-2.png')
}
.card.ten-spade-1{
    background-image:url('../img/card-2.png')
}
.card.jack-spade-1{
    background-image:url('../img/card-2.png')
}
.card.queen-spade-1{
    background-image:url('../img/card-2.png')
}
.card.king-spade-1{
    background-image:url('../img/card-2.png')
}

.card.ace-heart-1{
    background-image:url('../img/card-2.png')
}
.card.two-heart-1{
    background-image:url('../img/card-2.png')
}
.card.three-heart-1{
    background-image:url('../img/card-2.png')
}
.card.four-heart-1{
    background-image:url('../img/card-2.png')
}
.card.five-heart-1{
    background-image:url('../img/card-2.png')
}
.card.six-heart-1{
    background-image:url('../img/card-2.png')
}
.card.seven-heart-1{
    background-image:url('../img/card-2.png')
}
.card.eight-heart-1{
    background-image:url('../img/card-2.png')
}
.card.nine-heart-1{
    background-image:url('../img/card-2.png')
}
.card.ten-heart-1{
    background-image:url('../img/card-2.png')
}
.card.jack-heart-1{
    background-image:url('../img/card-2.png')
}
.card.queen-heart-1{
    background-image:url('../img/card-2.png')
}
.card.king-heart-1{
    background-image:url('../img/card-2.png')
}

.card.ace-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.two-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.three-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.four-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.five-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.six-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.seven-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.eight-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.nine-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.ten-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.jack-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.queen-diamond-1{
    background-image:url('../img/card-2.png')
}
.card.king-diamond-1{
    background-image:url('../img/card-2.png')
}

.card.ace-club-1{
    background-image:url('../img/card-2.png')
}
.card.two-club-1{
    background-image:url('../img/card-2.png')
}
.card.three-club-1{
    background-image:url('../img/card-2.png')
}
.card.four-club-1{
    background-image:url('../img/card-2.png')
}
.card.five-club-1{
    background-image:url('../img/card-2.png')
}
.card.six-club-1{
    background-image:url('../img/card-2.png')
}
.card.seven-club-1{
    background-image:url('../img/card-2.png')
}
.card.eight-club-1{
    background-image:url('../img/card-2.png')
}
.card.nine-club-1{
    background-image:url('../img/card-2.png')
}
.card.ten-club-1{
    background-image:url('../img/card-2.png')
}
.card.jack-club-1{
    background-image:url('../img/card-2.png')
}
.card.queen-club-1{
    background-image:url('../img/card-2.png')
}
.card.king-club-1{
    background-image:url('../img/card-2.png')
}