@font-face {
    font-family: custom;
    src: url(/assets/game/font/Roboto.ttf) format("opentype");
    font-weight: 100
}

h1 {
    margin: 0;
    padding: 5px
}

.fadeIn {
    animation: fadeIn;
    animation-duration: .25s;
    animation-timing-function: ease
}

.blink {
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease
}

.rotate {
    animation: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease
}

.landscape-notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 99999;
    display: none
}

.landscape-notice .text {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%)
}

@media screen and (orientation:portrait) {
    .landscape-notice {
        display: block
    }
}

@media only screen and (min-width:0px) {
    .focused,
    .info-content {
        position: absolute;
        width: 100%;
        height: 100%
    }
    .focused {
        top: -40px
    }
    body,
    html {
        padding: 0;
        margin: 0;
        min-height: 100%
    }
    body {
        background: url(/assets/game/img/banner4.jpg) center fixed no-repeat;
        background-size: cover;
        color: #515151;
        font-family: custom, arial, helvetia;
        font-size: 16px
    }
    .info-content {
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .75);
        z-index: 2
    }
    .content,
    .info {
        left: 50%;
        position: absolute
    }
    .info {
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%)
    }
    .content {
        width: 70%;
        min-height: 100%;
        overflow-y: auto;
        padding: 10px 20px 30px;
        box-sizing: border-box;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
    }
    .content div {
        margin-top: 8px;
        text-align: center
    }
    .logo {
        padding-bottom: 5px
    }
    .logo img {
        width: 45%
    }
    .login-input {
        width: 60%;
        margin: auto;
        padding: 0 5px;
        box-sizing: border-box
    }
    .login-input:nth-child(3) {
        width: 100%
    }
    .login-input input {
        padding: 8px;
        background: #000046;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #f8f8f8;
        width: 100%;
        transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -moz-transition-duration: .2s
    }
    #login-btn {
        background: #000046;
        color: #f8f8f8;
        margin-top: 10px;
        width: 10em
    }
    #login-btn:hover {
        background: #fff;
        color: #333;
        cursor: pointer
    }
    .login-opt a {
        display: inline-block;
        margin-top: 10px;
        color: #000046;
        text-decoration: none;
        width: 45%;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 5px 10px;
        font-size: .7em;
        font-weight: 700;
        letter-spacing: .5px
    }
    .login-opt a:hover {
        text-decoration: underline
    }
    .fpass-form,
    .register-form {
        background: url(../img/bg-ss.jpg) center center no-repeat #333;
        background-size: 105%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0!important;
        width: 100%;
        min-height: 100%;
        overflow-y: auto;
        z-index: 2
    }
    .fpass-form h1,
    .register-form h1 {
        font-size: 1.5em;
        margin-top: 10px
    }
    .fpass-input,
    .register-input {
        vertical-align:top;
        display:inline-block;
        width: 50%;
        font-size: .9em;
        padding: 0 5px;
        box-sizing: border-box
    }
    .fpass-input{display:block;}
    .fpass-input {
        float: none;
        margin: auto
    }
    .register-input:last-child {
        padding: 0 18px
    }
    .fpass-input input,
    .register-input input,
    .register-input select {
        width: 85%;
        padding: 8px;
        box-sizing: border-box;
        background: #000046;
        border: 1px solid #ccc;
        margin-top: 5px;
        color: #f8f8f8
    }
    #fpass-cancel,
    #fpass-sbm,
    #reg-cancel,
    #reg-sbm {
        float: left;
        width: 46%;
        margin: 5px 2%;
        box-sizing: border-box;
        background: #6d0808
    }
    #fpass-cancel,
    #fpass-sbm {
        float:none;
        width:85%;
        margin: 10px 2% 0
    }
    #fpass-sbm,
    #reg-sbm {
        background: #0d8000
    }
    #fpass-cancel:hover,
    #fpass-sbm:hover,
    #reg-cancel:hover,
    #reg-sbm:hover {
        cursor: pointer;
        opacity: .8
    }
    .footer {
        position: relative;
        top: 10px;
        font-size: .75em
    }
}

@media only screen and (min-width:360px) {
    .login-opt a {
        font-size: .8em
    }
}

@media only screen and (min-width:824px) {
    .content {
        width: 400px;
        max-width: 92%;
        height: auto;
        min-height: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%)
    }
    .fpass-form,
    .register-form {
        height: 100%
    }
    .logo img {
        width: 70%
    }
}

::-webkit-scrollbar {
    width: .6em;
    height: .6em
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #444
}

::-webkit-scrollbar-thumb {
    background-color: #000046;
    outline: #ccc solid 1px;
    border-radius: 1px
}

::placeholder {
    color: #ccc
}

:-ms-input-placeholder {
    color: #ccc
}

::-ms-input-placeholder {
    color: #ccc
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes rotate {
    0%,
    100% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(-90deg)
    }
}

@keyframes shake {
    0%,
    100% {
        transform: rotate(0)
    }
    25%,
    75% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(10deg)
    }
}